*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: url('../image/bg.jpg');
    background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

#register ,#login {
  margin-left: 90%;
}