{% extends "new_dashboardheader.html" %}
	{% block body %}
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">finstu1</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			
						  			<br>
						  			hey yo. I m finstu1
									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">finstu2</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			
						  			<br>
						  			finstu2 final 09/03/1882 finstu@hun pass

									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
{% endblock %}