{% extends "new_dashboardheader.html" %}
	{% block body %}
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">final</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			<a href="https://fmovies.se/" >fincom1 </a>
						  			<br>
						  			hey there we are one
									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">final</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			<a href="https://fmovies.se/" >fincom2 </a>
						  			<br>
						  			we are two
									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
{% endblock %}