{% extends "new_dashboardheader.html" %}
	{% block body %}
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">IT</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			<a href="http://www.nabshow.com/" >Nabshow </a>
						  			<br>
						  			nabshow is a fast growing IT company which is bringing change into life of many lives.
									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
						<div class="row">
					  		<div class="col-md-12 panel-warning">
					  			<div class="content-box-header panel-heading">
				  					<div class="panel-title ">IT</div>
						
									<div class="panel-options">
										<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
										<a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
					  			</div>
					  			<div class="content-box-large box-with-header">
						  			<a href="http://www.hynesindustries.com/" >Hynes Industries </a>
						  			<br>
						  			We offer custom roll formed steel and standard roll formed steel shapes, slit coil and strip steel products, specialty wire and flat wire shapes as well as our proprietary slotted angle, FlexAngle. All American Made – with All-American Steel – All from Hynes Industries in Youngstown, Ohio.
									<br /><br />
								</div>
					  		</div>
					  	</div>
					  	
{% endblock %}